{% extends 'core/base.html' %}

{% block title %}{{ client.name }}{% endblock %}

{% block content %}
    <div class="py-6 px-6">

        <h1 class="mb-4 text-xl ">{{ client.name }}</h1>
        {% if client.description %}
            <p class="font-semibold">Описание</p>
            <p class="mb-2">{{ client.description }}</p>
        {% endif %}

        <p class="font-semibold">Создан</p>
        <p class="mb-2">{{ client.created_at|date:'M-d-Y H:i' }}</p>

        <p class="font-semibold">Обновлен</p>
        <p class="mb-6">{{ client.modified_at|date:'M-d-Y H:i' }}</p>

        <hr class="my-4">
        <a href="{% url 'clients_edit' client.id %}" class="inline-block py-2 px-4 bg-teal-600 rounded-xl text-white" >Изменить</a>
        <a href="{% url 'clients_delete' client.id %}" class="inline-block py-2 px-4 bg-red-600 rounded-xl text-white">Удалить</a>
        <a href="{% url 'clients_list' %}" class="inline-block py-2 px-4 bg-teal-600 rounded-xl text-white"  >Назад</a>

        <hr class="my-4">

        <h2 class="mb-6 text-xl">Комментарии</h2>

        {% if client.comments.all %}

            <div class="space-y-4">
                {% for comment in client.comments.all %}
                    <div class="bg-gray-100 p-6 rounded-xl">
                        <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>

                        {{ comment.content }}
                    </div>
                {% endfor %}
        </div>
        {% else %}
            <p>Пока нет комментариев.</p>
        {% endif %}

        <form method="post" action="{% url 'add_comment_client' client.id %}" class="my-4">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Добавить комментарий</button>
        </form>

        <hr class="my-4">

        <h2 class="mb-6 text-xl">Файлы</h2>

        <div class="space-y-4">
            {% for file in client.files.all %}
                <div class="bg-gray-100 p-6 rounded-xl">
                    <p class="mb-2"><strong>{{ file.created_by }}</strong> @ {{ file.created_at }}</p>

                    <a href="{{ file.file.url }}">Download</a>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'add_file' client.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}

            <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Загрузить</button>
        </form>



    </div>
 {% endblock %}